# QmlRemis Notify systemd service file

[Unit]
Description=QmlRemisServer
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target


[Service]
User=root
Group=root
#PermissionsStartOnly=true
ExecStart=/usr/share/qmlremis/service/qmlremisd.py
#TimeoutSec=600
#Restart=on-failure
#RuntimeDirectory=mysqld
#RuntimeDirectoryMode=755
