# QmlRemis Notify systemd service file

[Unit]
Description=QmlRemis WebSocket Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target


[Service]
User=root
Group=root
#PermissionsStartOnly=true
ExecStart=/usr/bin/twistd -y /usr/share/qmlremis/service/socketService.py -n
#TimeoutSec=600
#Restart=on-failure
#RuntimeDirectory=mysqld
#RuntimeDirectoryMode=755
